{% extends "./base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link href="https://fonts.googleapis.com/css?famity-Cookie" rel="stylesheet">
<link rel="stylesheet" href="{% static 'store/css/home.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Exo:wght@300;500;600&family=Mulish:ital,wght@0,400;0,500;1,600&family=Oxygen&family=Raleway:ital,wght@0,400;0,500;0,600;0,800;1,300;1,700&display=swap"
    rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<main>
    <div class="main">
    </div>
    {% comment %} The begining of video header {% endcomment %}

{#DO NOT TOUCH IT  ///////////// DO NOT TOUCH IT  ///////////// DO NOT TOUCH IT #}
    <section class="video-container">
        <video src="media/headerHome.mp4" autoplay loop playsinline muted></video>

    </section>


{#DO NOT TOUCH IT  ///////////// DO NOT TOUCH IT  ///////////// DO NOT TOUCH IT #}
    <style>
        .video-container {
            max-height: 41rem;
            position: relative;
            overflow: hidden;
        }




        video {
            object-fit: cover; // Set the magic
            position: absolute;
            max-height: 41rem;
            width: 100%;
            top: 0;
            left: 0;
        }

        @media only screen and (max-width: 767px) {
            .main{
                min-height: 5.2rem;
                background: red;
            }
        }
        @media only screen and (max-width: 288px) {
            .main{
                min-height: 7.1rem;
                background: red;
            }
        }
        @media only screen and (max-width: 251px) {
            .main{
                min-height: 10.2rem;
                background: red;
                }
        }
        @media only screen and (max-width: 176px) {
            .main{
                min-height: 13.7rem;
                background: red;
                }
        }

    </style>
{#DO NOT TOUCH IT  ///////////// DO NOT TOUCH IT  ///////////// DO NOT TOUCH IT #}

    {% comment %} the end of video header {% endcomment %}

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="h1 fw-bold">Search, Read, Buy, Review</h1>
                <p class="lead text-muted">Something short and leading about the collection below—its contents, the
                    creator,
                    etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
                <p>
                    <a href="#" class="btn btn-primary my-2">Make an account</a>
                </p>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="album py-5">
                <div class="pb-3">
                    <h1 class="h3">Popular</h1>
                </div>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
                    {% for product in products %}
                    <div class="col">
                        <div class="card border-0">
                            <img class="img-fluid" alt="Responsive image" src="{{ product.image.url }}">
                            <div class="card-body px-0">
                                <p class="card-text">
                                    <a class="text-dark text-decoration-none"
                                        href="{{ product.get_absolute_url }}">{{ product.title|slice:":50" }}...</a>
                                </p>
                                <div class="fw-bold">£{{product.price}}</div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}