{% extends "../store/base.html" %}
{% load static %}
{% block title %}Payment{% endblock %}
{% block content %}

<style>
  .account-form input,
    {
    border: 2px solid #ccc;
    height: calc(2em + .75rem + 2px);
  }

  .form-control {
    border: 2px solid #ccc;
  }

  .account-form input:focus {
    border-color: #1497ff;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0px rgba(255, 0, 0, 0.6);
  }
</style>

<div class="container-fluid">
  <div class="row no-gutter">
    <div class="col-md-12">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div id="payment-form" class="col-12 col-lg-6 mx-auto">
              <h3 class="mb-3">Billing address</h3>
              <!-- Error messages in this element -->
              <div id="card-errors" class="a" role="alert"></div>
              <form>
                <div class="row g-3">
                  <div class="col-sm-10">
                    <label for="firstName" class="form-label">Your name</label>
                    <input type="text" class="form-control" id="custName" placeholder="Your name" required>
                    <div class="invalid-feedback">
                      Valid first name is required.
                    </div>
                </div>
                    <div class="col-sm-10">
                        <label for="surname" class="form-label">Your surname</label>
                        <input type="text" class="form-control" id="custSurname" placeholder="Your surname" required>
                        <div class="invalid-feedback">
                          Valid first surname is required.
                        </div>
                    </div>
                  <div class="col-sm-10">
                    <label for="email" class="form-label">Email <span class="text-muted">(Optional)</span></label>
                    <input type="email" class="form-control" id="email" placeholder="you@example.com">
                    <div class="invalid-feedback">
                      Please enter a valid email address for shipping updates.
                    </div>
                  </div>
                  <div class="col-sm-10">
                    <label for="phone" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" id="custNumber" placeholder="+7(777)777-77-77" required>
                    <div class="invalid-feedback">
                      Please enter your phone number
                    </div>
                </div>
                  <div class="col-sm-10">
                    <label for="address" class="form-label">Address</label>
                    <input type="text" class="form-control" id="custAdd" placeholder="Your address" required>
                    <div class="invalid-feedback">
                      Please enter your shipping address.
                    </div>
                  </div>
                  <div class="col-sm-10">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" class="form-control" id="custCountry" placeholder="Your country" required>
                    <div class="invalid-feedback">
                      Please enter your country
                    </div>
                  </div>
                  <div class="col-sm-10">
                    <label for="city" class="form-label">City</label>
                    <input type="text" class="form-control" id="custCity" placeholder="Your city" required>
                    <div class="invalid-feedback">
                      Please enter your city
                    </div>
                </div>
                   <div class="col-sm-10">
                    <label for="Postcode" class="form-label">Postcode</label>
                    <input type="text" class="form-control" id="postCode" placeholder="" required>
                    <div class="invalid-feedback">
                      Post code required.
                    </div>
                  </div>
                  <div class="col-sm-10">
                    <label for="about" class="form-label">Comments</label>
                    <input type="text" class="form-control" id="custComments" placeholder="Your comments" required>
                    <div class="invalid-feedback">
                      Please enter your additional comments
                    </div>
                </div>
                <hr class="my-4">
                <h4 class="mb-3">Payment</h4>
                <label for="card-element">Credit or debit card</label>
                <div id="card-element" class="form-control form-control-payment">
                  <!-- Payment elements will appear here -->
                </div>
                <hr class="my-4">
                <button id="submit" class="btn btn-primary w-100 fw-bold" window.location.replace("http://127.0.0.1:8000/payment/orderplaced/") data-secret="{{ client_secret }}">Pay</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
    var STRIPE_PUBLISHABLE_KEY = '{{pk_test_51L1ZxxAEgKCl1oTaO7l6YF0zKYExtW1maKcOPdsg5yZm7gvKho8ImGlkkmBPPtbyuRSl0DapjS7ggX0IA9kNoPB800JNNi0knE}}'
    var CSRF_TOKEN = '{{ csrf_token }}';
</script>
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'payment/index.js' %}" data-rel-js></script>

{% endblock %}